.footer {
    background-color: #333;
    color: #fff;
    padding: 40px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-left {
    flex-basis: 60%;
    padding: 20px;
}

.footer-right {
    flex-basis: 30%;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer p {
    margin: 0 0 10px;
}



.footer-bottom {
    background-color: #222;
    padding: 10px 0;
    text-align: center;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a {
    margin-right: 10px;
}

.social-media img {
    width: 30px;
    height: 30px;
    mix-blend-mode: multiply;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
}